.custom-social-networks {
  background-color: #fdfbfc;

  button {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04);

    img {
      height: 26px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
  }
}